// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #B35C22;
$secondary: #245E83;
$white: #ffffff;
$bg-dark: #47535E;
$tertiary: #4E4E4E;
$darkgray: #0C0F11;
$black: #000000;
$lightgray: #d1d1d1;
$grayvariation: #636363;
$middlegray: #aeabab;
$commentgray: #e0e0e0;

$post-pinned-background-color: #4B5D6D;
$post-pinned-background-opacity: 0.15;

// darken color amount on button hover
$darken-amount: 10%;

// App Logo
$app-logo-size: 40px;
$app-logo-size-large: 80px;

// Navs
$nav-tabs-border-width: 0; // gets rid of default bootstrap border

// Dropdown
$dropdown-spacer: 0.7rem;

// Helper vars for calculating scrolling height
$full-height: 100vh;
$full-width: 100vw;
$title-bar-height: 60px;
$post-list-padding: 10px;
$write-post-btn-height: 37px;
$course-name-height: 70px; // only starting max-width 1077px

// map for tabs height
$tabs-height: (
    1920: 39px,
    1152: 62px,
    1077: 62px,
    900: 62px,
    884: 78px,
    767: 39px,
    384: 62px,
);

$app-header-height: (
    1920: 58px,
    1077: 128px,
    900: 128px,
    884: 128px,
    767: 128px,
    384: 128px,
);

// Toasts
$toast_background-color: rgba($white, 1);
$toast_header_background-color: rgba($white, 1);
