// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #245E83;
$white: #ffffff;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #B35C22;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #47535E;
$darkergray: #4E4E4E;
$darkgray: #0C0F11;
$lightgray: #d1d1d1;
$middlegray: #aeabab;
$commentgray: #e0e0e0;

// darken color amount on button hover
$darken-amount: 10%;

// Navs
$nav-tabs-border-width: 0;
