// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#app {
    height: 100vh;
    // margin-left: 10px;
    // margin-right: 10px;
}
// .col-md-12 {
//     padding: 0;
// }

.main-app-area {
    height: calc(100vh - 60px - $app-header-height);
    .col-md-4 {
        padding-right: 0;
    }
    .col-md-8 {
        padding-left: 0;
    }
}

.app-title-bar {
    .app-logo {
        width: 40px;
        height: 40px;
        margin: 0 10px 0 0;
    }

    .app-title {
        font-size: x-large;
        font-weight: 900;
    }
    margin: 10px 0 10px 20px;
    display: flex;
    align-items: center;
}

.app-header-bar {
    background-color: $gray;
    padding: 10px;
    position: relative;
    .justify-content-between {
        align-items: center;
    }

    .btn-search-submit {
        @include button-variant($green, $blue, $red);
    }

    .settings-control {
        a:hover {
            cursor: pointer;
        }
    }
    .course_name {
        color: $white;
        font-size: large;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0 30% 0 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 1.2em;
    }
    @media screen and (max-width: 767px) {
        .course_name {
            height: 70px;
        }
    }
    .form-inline {
        .form-control, .form-control:focus {
            background-color: $darkgray;
            border-radius: 6px;
            border: none;
            color: $white;
            margin: 0 10px 0 0;
        }

        .btn-search-submit {
            background-color: $darkgray;
            border: none;
            border-radius: 6px;
        }
        .btn-search-submit:hover {
            background-color: $orange;
        }
    }
    .settings-control {
        font-size: 1.5rem;
    }
    .clear-search-icon {
        display: flex;
        align-items: center;
        margin-left: -50px;
        z-index: 100;
        box-shadow: none;
        .times-icon {
            color: $gray;
        }
    }
    .clear-search-icon:focus {
        box-shadow: none;
    }
}

@media screen and (max-width: 900px) {
    .app-header-bar {
        display: flex;
        flex-direction: column-reverse;
        .course_name {
            position: relative;
            padding: 10px 10px;
        }
    }
}

@media screen and (max-width: 575px) {
    .app-header-bar {
        .input-group {
            width: auto;
        }
    }
}

.app-post-list {
    background-color: $lightgray;
    padding: 10px;
    height: 100%;
    padding-bottom: $write-post-btn-height;
    position: relative;
    .nav-tabs {
        display: flex;
        .nav-item {
            flex: 1;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            background-color: $gray;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            a, a:hover, a:visited {
                color: $white;
            }
            .nav-link {
                height: 100%;
            }
            .nav-link.active {
                background: $darkgray;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
            }
        }

    }
    .btn-post-topic {
        // @include button-variant($green, $blue, $red);
        width: calc(100% - 20px);
        background-color: $orange;
        color: $white;
        border-radius: 0;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        position: absolute;
        bottom: 0;
    }

    .app-post-list-body {
        background-color: $body-bg;
        height: calc(#{$full-height} - #{$title-bar-height} - #{map-get($app-header-height, 1920)} - #{map-get($tabs-height, 1920)} - #{$post-list-padding} - #{$write-post-btn-height});
        overflow-y: auto;
        .post {
            background-color: $body-bg;
            padding: 10px;
            border-bottom: 0.25px dotted $lightgray;
            .post-misc-info {
                color: $darkergray;
            }
            .post-title {
                margin: 0;
            }
            .post-btn-group {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 5px 0 0 0;
                .pin-icon, .lock-icon {
                    color: $darkergray;
                    margin: 0 5px 0 0;
                }
                span {
                    margin: 0 0 0 5px;
                    color: $white;
                }
                .btn {
                    color: $white;
                    box-shadow: none;
                    padding: 0.05rem 0.25rem;
                    font-size: small;
                }
                .badge-unread {
                    background-color: $darkergray;
                }
                .badge-read {
                    background-color: $middlegray;
                }
            }
        }
        .no-search-results {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
        .post-clickable-container {
            cursor: pointer;
        }
    }
    @media screen and (max-width: 1152px){
        .app-post-list-body {
            height: calc(#{$full-height} - #{$title-bar-height} - #{map-get($app-header-height, 1920)} - #{map-get($tabs-height, 1152)} - #{$post-list-padding} - #{$write-post-btn-height});
        }
    }
    @media screen and (max-width: 900px) {
        .app-post-list-body {
            height: calc(#{$full-height} - #{$title-bar-height} - #{map-get($app-header-height, 900)} - #{map-get($tabs-height, 899)} - #{$post-list-padding} - #{$write-post-btn-height});
        }
    }
    @media screen and (max-width: 767px) {
        .app-post-list-body {
            height: calc(#{$full-height} - #{$title-bar-height} - #{map-get($app-header-height, 767)} - #{map-get($tabs-height, 767)} - #{$post-list-padding} - #{$write-post-btn-height});
        }
    }
    @media screen and (max-width: 384px) {
        .app-post-list-body {
            height: calc(#{$full-height} - #{$title-bar-height} - #{map-get($app-header-height, 767)} - #{map-get($tabs-height, 384)} - #{$post-list-padding} - #{$write-post-btn-height});
        }
    }

}

.app-post-display {
    height: calc(#{$full-height} - #{$title-bar-height} - #{map-get($app-header-height, 1920)});
    padding: 5% 10%;
    overflow-y: auto;
    .back-group {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        cursor: pointer;
        h5 {
            margin: 0;
        }
        .back-icon {
            color: $darkergray;
            margin: 0 5px 0 0;
        }
    }
    .post-top-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .post-display-body {
        border-radius: 6px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        padding: 10px;
        margin: 10px 0;

    }
    .post-display-body p:last-child {
        margin-bottom: 0;
    }
    .comments {
        margin: 20px 0;
    }
}

@media screen and (max-width: 900px) {
    .app-post-display {
        height: calc(#{$full-height} - #{$title-bar-height} - #{map-get($app-header-height, 900)});
        padding: 3% 7%;
    }
}
@media screen and (max-width: 767px) {
    .app-post-display {
        height: calc(#{$full-height} - #{$title-bar-height} - #{map-get($app-header-height, 767)});
    }
}

.btn {
    transition: 0.3s;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.btn:hover {
    // transform: translateY(-0.1em);
    color: $white;
}


// for post buttons
.btn-groups {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.btn-blue {
    background-color: $blue;
    color: $white;
    margin: 0 10px 0 0;
}
.btn-blue:hover {
    background-color: darken($blue, $darken-amount);
}
.btn-orange {
    background-color: $orange;
    color: $white;
}
.btn-orange:hover {
    background-color: darken($orange, $darken-amount);
}
.btn-gray {
    background-color: $darkergray;
    color: $white;
}
.btn-gray:hover {
    background-color: darken($darkergray, $darken-amount);
}

.comment-container{
    // width: calc(100% - 34.39px);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comment-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .ellipsis {
        display: flex;
        align-items: baseline;
    }
}

.comment-metadata {
    font-style: italic;
    font-size: 80%;
    display: flex;
    align-items: center;
    div {
        margin: 0 7px 0 0;
    }
    .endorsed {
        color: $blue;
    }
    .upvotes {
        color: $darkergray;
    }
}

.unread-dot {
    width: 7px;
    height: 7px;
    background-color: $orange;
    opacity: 70%;
    border-radius: 5px;
}

.comment-body-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

// the gray comment bubble
.comment-body {
    background-color: $commentgray;
    border-radius: 6px;
    padding: 10px;
    margin: 10px 0 5px 0;
    position: relative;
    width: 100%;
}

.comment-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px 0;
    .left-actions, .right-actions {
        display: flex;
        div {
            margin-right: 7px;
            color: $middlegray;
        }
        .action-active-blue {
            color: $blue;
        }
        .action-active-gray {
            color: $darkergray;
        }
    }
    .right-actions div{
        margin-right: 0;
        color: $darkergray;
    }
    .endorse-action, .upvote-action, .hide-action, .reply-action {
        display: flex;
        align-items: center;
        cursor: pointer;
        div {
            margin-left: 5px;
        }
        .action-icon {
            color: $middlegray;
        }
        .action-icon-active-blue {
            color: $blue;
        }
        .action-icon-active-gray {
            color: $darkergray;
        }
    }
}

.comment-body-text {
    padding-right: 30px;
}
.comment-body-text p:last-child {
    margin-bottom: 0;
}
.reply-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.single-comment {
    // display: flex;
    .row {
        // .col-1 {
        //     display: flex;
        //     justify-content: center;
        //     padding-top: 16px;
        //     .endorsed {
        //         color: $blue;
        //         transition: 0.3s;
        //     }
        //     .can-endorse {
        //         color: $commentgray;
        //         transition: 0.3s;
        //     }
        //     .invisible {
        //         color: $white;
        //     }
        // }
        .col-11 {
            padding-left: 0px;
        }
    }
    .comment-row {
        display: flex;
        margin: 0px;
        // .endorse-icon {
        //     padding-top: 22px;
        //     margin: 0 10px;
        //     .endorsed {
        //         color: $blue;
        //         transition: 0.3s;
        //     }
        //     .can-endorse {
        //         color: $commentgray;
        //         transition: 0.3s;
        //     }
        // }
    }
}
// for wysiwyg buttons
.editor-btn-group {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 10px 0;
    .btn {
        margin: 0 0 0 10px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
    .btn:hover {
        // transform: translateY(-0.1em);
        color: $white;
    }
}

// for new post
.new-post {
    padding: 30px;
}

.anon {
    .icon {
        margin: 0 2px;
        color: $darkergray;
        cursor: pointer;
    }
    .deanon-label {
        background-color: $darkergray;
        color: white;
        padding: 0 5px;
        border-radius: 2px;
    }
    .invisible {
        background-color: $white;
    }
}
