// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#app {
    height: 100vh;
    margin-left: 10px;
    margin-right: 10px;
}

.app-title-bar {
    .app-logo {
        width: 40px;
        height: 40px;
        margin: 0 10px 0 0;
    }

    .app-title {
        font-size: x-large;
        font-weight: 900;
    }
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.app-header-bar {
    background-color: $gray;
    padding: 10px;

    .justify-content-between {
        align-items: center;
    }

    .btn-search-submit {
        @include button-variant($green, $blue, $red);
    }

    .settings-control {
        a:hover {
            cursor: pointer;
        }
    }
    .course_name {
        color: $white;
        font-size: large;
    }
    .form-inline {
        .form-control, .form-control:focus {
            background-color: $darkgray;
            border-radius: 6px;
            border: none;
            color: $white;
            margin: 0 10px 0 0;
        }
        // .form-control:focus, .btn-search-submit:focus {
        //     box-shadow: 0 0 0 0.2rem rgba(179, 92, 34, 0.25);
        // }

        .btn-search-submit {
            background-color: $darkgray;
            border: none;
            border-radius: 6px;
        }
        .btn-search-submit:hover {
            background-color: $orange;
        }
    }
    .settings-control {
        font-size: 1.5rem;
    }
    .clear-search-icon {
        display: flex;
        align-items: center;
        margin-left: -50px;
        z-index: 100;
        .times-icon {
            color: $gray;
        }
    }
    .clear-search-icon:focus {
        box-shadow: none;
    }

}

.app-post-list {
    background-color: $lightgray;
    padding: 10px;
    height: 100%;
    .nav-tabs {
        display: flex;
        .nav-item {
            flex: 1;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            background-color: $gray;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            a, a:hover, a:visited {
                color: $white;
            }
            .nav-link {
                height: 100%;
            }
            .nav-link.active {
                background: $darkgray;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
            }
        }

    }
    .btn-post-topic {
        // @include button-variant($green, $blue, $red);
        width: 100%;
        background-color: $orange;
        color: $white;
        border-radius: 0;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        position: absolute;
        bottom: 0;
    }

    .app-post-list-body {
        background-color: $body-bg;
        height: 100%;
        position: relative;

        .post {
            background-color: $body-bg;
            padding: 10px;
            border-bottom: 0.25px dotted $lightgray;
            .post-misc-info {
                color: $darkergray;
            }
            .post-title {
                margin: 0;
            }
            .post-btn-group {
                display: flex;
                justify-content: flex-end;
                span {
                    margin: 0 0 0 5px;
                    color: $white;
                }
                .badge-unread {
                    background-color: $darkergray;
                }
                .badge-read {
                    background-color: $middlegray;
                }
            }
        }
        .no-search-results {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
        .post-clickable-container {
            cursor: pointer;
        }
    }
}

.app-post-display {
    // background-color: $cyan;
    padding: 30px;
    .post-display-body {
        border-radius: 6px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        padding: 10px;
        margin: 10px 0;

    }
    .comments {
        margin: 20px 0;
    }
}

.btn {
    transition: 0.3s;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.btn:hover {
    // transform: translateY(-0.1em);
    color: $white;
}


// for post buttons
.btn-groups {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.btn-blue {
    background-color: $blue;
    color: $white;
    margin: 0 10px 0 0;
}
.btn-blue:hover {
    background-color: darken($blue, $darken-amount);
}
.btn-orange {
    background-color: $orange;
    color: $white;
}
.btn-orange:hover {
    background-color: darken($orange, $darken-amount);
}
.btn-gray {
    background-color: $darkergray;
    color: $white;
}
.btn-gray:hover {
    background-color: darken($darkergray, $darken-amount);
}

.comment-body {
    background-color: $commentgray;
    border-radius: 6px;
    padding: 10px;
    margin: 10px 0;
    position: relative;
    // display: flex;
}
.comment-body-text {
    margin-right: 10px;
}
.comment-body-text p:last-child {
    margin-bottom: 0;
}
.reply-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}
.single-comment {
    // display: flex;
    .row {
        .col-1 {
            display: flex;
            justify-content: center;
            padding-top: 16px;
            .endorsed {
                color: $blue;
                transition: 0.3s;
            }
            .can-endorse {
                color: $commentgray;
                transition: 0.3s;
            }
        }
        .col-11 {
            padding-left: 0px;
        }
    }
}
// for wysiwyg buttons
.editor-btn-group {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 10px 0;
    .btn {
        margin: 0 0 0 10px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
    .btn:hover {
        // transform: translateY(-0.1em);
        color: $white;
    }
}

// for new post
.new-post {
    padding: 30px;
}
