/node_modules
/public/hot
/public/storage
/public/css/*.css
/public/css/*.css.map
/public/fonts
/public/js/*.js
/public/js/*.js.map
/public/js/vendor.js.LICENSE.txt
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
